<div class="standard-container chat-main">
    <button 
        (click)="changeChatHiden()"
        class="standard-space float-right"
    >{{ changeChatHidenText }}</button>
    <ng-container
        *ngIf="!isChatHiden"
    >
        <input 
            type="text" 
            placeholder="Enter message"
            [(ngModel)]="currentMessage" 
            class="standard-space"
        >
        <button 
            type="submit" 
            (click)="submitMessage()"
            class="standard-space"
        >Send</button>
    </ng-container>
    <div *ngIf="!isChatHiden">
        
        <div class="messages">
            <div
                *ngFor="let message of messages; let i = index" 
                class="standard-margin"
                [ngClass]="i === 0 ? lastProgressClass : 'normal-info'"
            >
                {{ message.content }}
            </div>
        </div>
    </div> 
</div>