<div 
    class="standard-container main-div"
    *ngIf="showContent"
>
    <div 
        class="messages chat-messages"
        id="messages"
    >
        <div
            *ngFor="let message of messages; let i = index" 
            class="standard-margin"
            [ngClass]="i === messages.length - 1 ? lastProgressClass : 'normal-info'"
        >
            {{ message.content }}
        </div>
    </div>
    <input 
        type="text" 
        placeholder="Enter message"
        [(ngModel)]="currentMessage" 
        class="standard-space"
    >
    <button 
        type="submit" 
        (click)="submitMessage()"
        class="standard-space"
        [disabled]="currentMessage === ''"
    >Send</button>
</div>