<router-outlet></router-outlet>
<div class="main main-container">
  <div
    class="vertical-center content-container"
  >
    <app-login
      (usernameChanged)="usernameChanged($event)"
    ></app-login>
    <bluff-content
      [username]="username"
      [doShow]="doShowBluff"
      (myTurn)="myTurn($event)"
    >
    </bluff-content>
    <chat-content
      [username]="username"
      [doShow]="doShowChat"
    ></chat-content>
    <app-last-settlement
      [doShow]="doShowLastSettlement"
    >
    </app-last-settlement>
    <div
      class="footer"
    >
      <button 
          (click)="selectView('table')"
          class="option"
          *ngIf="this.isLogged"
          [disabled]="currentView === 'table'"
      >Table</button>
      <button 
            (click)="selectView('chat')"
            class="option"
            *ngIf="this.isLogged"
            [disabled]="currentView === 'chat'"
        >Chat</button>
      <button 
            (click)="selectView('last')"
            class="option"
            *ngIf="this.isLogged"
            [disabled]="currentView === 'last'"
        >Last Settlement</button>
      </div>
  </div>
</div>
