<div>
    <table class="table">
        <tr>
            <td>
                Name
            </td>
            <td>
                Public
            </td>
            <td>
                Number of players
            </td>
            <td>
                Started
            </td>
            <td>
                
            </td>
        </tr>
        <ng-container *ngFor="let game of games">
            <tr class="game">
                <td>{{game.name}}</td>
                <td>{{game.isPublic}}</td>
                <td>{{game.players.length}} / {{game.maxNumberOfPlayers}}</td>
                <td>{{game.isStarted}}</td>
                <td class="actionButton">
                    <button 
                    *ngIf="gameService.currentGame === null"
                    (click)="joinGame(game.name)"
                    [disabled]="game.players.length === game.maxNumberOfPlayers"
                    >
                        Join
                    </button>
                    <button 
                        *ngIf="gameService.currentGame === game.name"
                        (click)="leaveGame()"
                    >
                        Leave
                    </button>
                </td>
            </tr>
        </ng-container>
    </table>
</div>
