<div class="main-div relative">
    <div 
        class="modal align-right"
        *ngIf="isModalOpen"
    >
        <button
            class="close-modal-button standard-margin"
            (click)="closeModal()"
        >
            Close
        </button>
        <div 
            class="hand-title"
        >
            {{ lastGuessMsg }}
        </div>
        <ng-container *ngFor="let playerHand of playersCards">
            <div 
                class="hand-title"
            >
                [{{ playerHand[0] }}] last hand:
            </div>
            <div 
                class="hand"
            >
                <div class="card" *ngFor="let card of playerHand[1]">
                    <img 
                        [src]="getCardImageSrc(card)" 
                        [alt]="card"
                    >
                </div>
            </div>
        </ng-container>
    </div>
    <div
        class="room-info"
        *ngIf="progress.length === 0 || !isPlayerReady"
    >
        <button 
            *ngIf="!isPlayerReady"
            (click)="play()"
            class="standard-margin"
        >
            I am ready to play Bluff!
        </button>
        <ng-container *ngIf="isPlayerReady && hand.length === 0">
            <div
                class="standard-margin"
            >
                Following players are ready: {{ players }}
            </div>
        </ng-container>
    </div>
    <div 
        class="hand-title"
        *ngIf="isPlayerReady && hand.length !== 0"
    >
        Your hand:
    </div>
    <div 
        class="hand"
        *ngIf="isPlayerReady && hand.length !== 0"
    >
        <div class="card" *ngFor="let card of hand">
            <img [src]="getCardImageSrc(card)" alt="image">
        </div>
    </div>
    
    <div class="main-info">
        <div
            *ngIf="!isGameReady"
            class="standard-margin"
        >
            Waiting for players ...
        </div>
        <button
            *ngIf="isGameReady && progress.length === 0"
            (click)="start()"
            class="standard-margin"
        >
            Start a game!
        </button>
        <ng-container *ngIf="untilMyTurn > 0 && progress.length && isGameReady">
            [{{ currentUsername }}] turn. {{ leftPlayersString }} 
        </ng-container>
        <ng-container *ngIf="possibleGuesses !== null">
            <div>
                Your turn! {{ secondsLeft }} seconds left.
            </div>
            <div *ngIf="possibleGuesses.length">
                <select
                    [(ngModel)]="selectedSequence"
                >
                    <option value="" disabled selected hidden>Choose a sequence</option>
                    <option 
                        *ngFor="let guess of possibleGuesses" 
                        [ngValue]="guess"
                    >
                        {{ guess }}
                    </option>
                </select>
                <button
                    (click)="onSelect()"
                    [disabled]="selectedSequence.trim() === ''"
                    class="standard-margin"
                >
                    Guess
                </button>
            </div>
            
            <button
                [disabled]="isStart"
                (click)="onCheck()"
                class="standard-margin"
            >
                Check
            </button>
        </ng-container>
    </div>
    <div class="messages" *ngIf="progress.length">
        <div 
            *ngFor="let progressStep of progress; let i = index"
            class="standard-margin"
            [ngClass]="i === 0 ? lastProgressClass : 'normal-info'"
        >
            {{ progressStep }}
        </div>
    </div>
</div>
