<div class="create-container">
    <form 
        [formGroup]="gameForm" 
        (ngSubmit)="onSubmit()"
    >
        <table class="table">
            <tr>
                <td>
                    <label>
                        Name
                    </label>
                </td>
                <td>
                    <input 
                        class="input"
                        id="name" 
                        type="text" 
                        formControlName="name"
                        required 
                        minlength="2"
                    >
                    <div 
                        *ngIf="gameForm.get('name')?.errors?.['required']"
                        class="form-error"
                    >
                        Name is required.
                    </div>
                    <div 
                        *ngIf="gameForm.get('name')?.errors?.['minlength']"
                        class="form-error"
                    >
                        Name must be at least 2 characters long.
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Public
                    </label>
                </td>
                <td>
                    <input 
                        class="input"
                        id="isPublic" 
                        type="checkbox" 
                        formControlName="isPublic"
                        [attr.disabled]="true"
                    >
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Password
                    </label>
                </td>
                <td>
                    <input 
                        class="input"
                        id="password" 
                        type="password" 
                        formControlName="password"
                        [attr.disabled]="isPasswordNeeded === false"
                    >
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Max players
                    </label>
                </td>
                <td>
                    <input 
                        id="maxNumberOfPlayers" 
                        type="number" 
                        formControlName="maxNumberOfPlayers"
                        min="2"
                        max="6"
                        pattern="\d*"
                        required
                    >
                    <div 
                        *ngIf="gameForm.get('maxNumberOfPlayers')?.errors?.['min']"
                        class="form-error"
                    >
                        2 is the minimum number of players.
                    </div>
                    <div 
                        *ngIf="gameForm.get('maxNumberOfPlayers')?.errors?.['max']"
                        class="form-error"
                    >
                        6 is the maximum number of players.
                    </div>
                    <div 
                        *ngIf="gameForm.get('maxNumberOfPlayers')?.errors?.['pattern']"
                        class="form-error"
                    >
                        Value should be an integer.
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button 
                        class="button" 
                        type="submit"
                        [disabled]="!gameForm.valid"
                    >Create</button>
                </td>
            </tr>
        </table>
    </form>
</div>
