.main {
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
}

.standard-container {
    @extend .main;
    background-color: grey;
}

.main-div {
    @extend .standard-container;
    min-height: 60px;
}

.center {
    text-align: center;
}

$standard-margin: 4px;
$big-margin: 2*$standard-margin;

.messages {
    padding: $standard-margin;
    width: -webkit-calc(100% - 2*$standard-margin);
    width:    -moz-calc(100% - 2*$standard-margin);
    width:         calc(100% - 2*$standard-margin);
    height: 200px;
    overflow-y: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

body {
    background-color: black;
}

.standard-margin {
    margin: $standard-margin;
}

.standard-padding {
    padding: $standard-margin;
}

.normal-info {
    display: flex;
    word-wrap: break-word;
}

.last-info {
    @extend .normal-info;
    font-weight: bold;
}
