.main {
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
}

.login-div {
    @extend .main;
    background-color: rgba(192, 192, 192);
    margin-top: 10px;
    text-align: right;
}

.main-div {
    @extend .main;
    background-color: grey;
}

.center {
    text-align: center;
}

.messages {
    width: 500px; 
    height: 200px;
    border: 1px solid black; 
    overflow-y: auto;
}

body {
    background-color: black;
}