<div class="login-div">
    <input 
        *ngIf="gameService.getUsername() === null"
        type="text" 
        placeholder="Enter an username"
        [(ngModel)]="username" 
        class="standard-space"
    >
    <div
        class="standard-space inline"
        *ngIf="gameService.getUsername() !== null"
    >
        Hello {{ gameService.getUsername() }}!
    </div>
    <button 
        *ngIf="gameService.getUsername() === null"
        type="submit" 
        (click)="login()"
        class="standard-space"
    >Login</button>
    <button 
        *ngIf="gameService.getUsername() !== null"
        type="submit"
        (click)="logout()"
        class="standard-space inline"
    >Logout</button>
</div>
