<div class="login-div">
    <input 
        *ngIf="!isLogged"
        type="text" 
        placeholder="Enter an username"
        [(ngModel)]="username" 
        class="standard-margin standard-padding"
    >
    <div
        class="standard-margin standard-padding inline"
        *ngIf="isLogged"
    >
        Hello {{ username }}!
    </div>
    <button 
        *ngIf="!isLogged"
        type="submit" 
        (click)="login()"
        class="standard-margin standard-padding"
    >Login</button>
    <button 
        *ngIf="isLogged"
        type="submit"
        (click)="logout()"
        class="standard-margin standard-padding inline"
    >Logout</button>
</div>
