<div class="login-div">
    <div *ngIf="!isLogged">
        <input 
            type="text" 
            placeholder="Enter an username"
            [(ngModel)]="username" 
            class="standard-margin"
        >
        <button 
            type="submit" 
            (click)="login()"
            class="standard-margin"
        >Login</button>
    </div>
    <div *ngIf="isLogged">
        <p
            class="standard-margin"
        >
            Hello {{ username }}!
            <button 
                type="submit"
                (click)="logout()"
                class="standard-margin"
            >Logout</button>
        </p>
    </div>
</div>
