.horizontal-center {
    margin: 0 auto;
}

.main-container {
    height: 100%;
    position: relative;
}
  
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.content-container {
    min-width: Min(96vw, 900px);
    height: -webkit-calc(100% - 70px);
    height:    -moz-calc(100% - 70px);
    height:         calc(100% - 70px);
    background-color: grey;
}
