.horizontal-center {
    margin: 0 auto;
}

.main-container {
    height: 100%;
    position: relative;
}
  
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.content-container {
    min-width: Min(96vw, 800px);
    height: -webkit-calc(100% - 70px);
    height:    -moz-calc(100% - 70px);
    height:         calc(100% - 70px);
    background-color: grey;
}

.footer {
    background-color: rgba(192, 192, 192);
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0px;
}

$option-margin: 4px;

.option {
    display: inline-block;
    height: -webkit-calc(100% - $option-margin);
    height:    -moz-calc(100% - $option-margin);
    height:         calc(100% - $option-margin);
    width: -webkit-calc(33.33% - $option-margin);
    width:    -moz-calc(33.33% - $option-margin);
    width:         calc(33.33% - $option-margin);
    margin: $option-margin / 2;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
}