<div class="main-container">
    <div
      class="vertical-center content-container"
    >
      <app-login
        (usernameChanged)="usernameChanged($event)"
      ></app-login>
      <games-content
        [username]="username"
        [doShow]="doShowGames"
      >
      </games-content>
      <bluff-content
        [username]="username"
        [doShow]="doShowBluff"
        (myTurn)="myTurn($event)"
      >
      </bluff-content>
      <chat-content
        [username]="username"
        [doShow]="doShowChat"
      ></chat-content>
      <app-last-settlement
        [doShow]="doShowLastSettlement"
      >
      </app-last-settlement>
      <div
        class="footer"
      >
        <button 
            (click)="selectView('games')"
            class="option4"
            *ngIf="this.isLogged"
            [disabled]="currentView === 'games'"
        >Games</button>
        <button 
            (click)="selectView('table')"
            class="option4"
            *ngIf="this.isLogged"
            [disabled]="currentView === 'table' || this.gameService.currentGame === null"
        >Table</button>
        <button 
              (click)="selectView('chat')"
              class="option4"
              *ngIf="this.isLogged"
              [disabled]="currentView === 'chat' || this.gameService.currentGame === null"
          >Chat</button>
        <button 
              (click)="selectView('last')"
              class="option4"
              *ngIf="this.isLogged"
              [disabled]="currentView === 'last' || this.gameService.currentGame === null"
          >Previous</button>
      </div>
    </div>
  </div>
  