<div 
    class="standard-container main-div"
    *ngIf="showContent"
>
    <games-list
        *ngIf="currentView === 'list'"
    >
    </games-list>
    <games-create
        *ngIf="currentView === 'create'"
    >
    </games-create>
    <div
        class="footerSecondary"
      >
        <button 
            (click)="selectView('list')"
            class="option2"
            [disabled]="currentView === 'list'"
        >List</button>
        <button 
            (click)="selectView('create')"
            class="option2"
            [disabled]="currentView === 'create' || gameService.currentGame !== null"
        >Create</button>
    </div>
</div>